.dropzone {
  position: relative;
  border: 1px solid #dadce0;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
  background-color: #ffffff; 
  width: 100%;
  max-width: 500px;
}

.dropzone p {
  margin: 0;
  font-size: 1.2rem;
  color: #555;
}

.dropzone .tokens {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 0.85rem;
  color: #888;
}

.dropzone:hover {
  border-color: #f7de25;
  box-shadow: 0 1px 6px rgba(32,33,36,.28); /* Little glow on hover */
}

.dragOver {
  border-color: #8ab4f8; 
  background-color: #e8f0fe; 
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
}
